:root {
  --primary-color: #f0f5f9;
  --secondary-color: #c9d6df;
  --tertiary-color: #52616b;
  --quaternary-color: #1e2022;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
}
.hero {
  background: var(--quaternary-color);
  padding-bottom: 60px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Dosis", sans-serif;
  line-height: 30px;
  color: var(--quaternary-color);
}

a {
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 96px;
  padding: 50px;
  color: var(--secondary-color);
}

h2 {
  font-size: 48px;
  color: var(--secondary-color);
}

h3 {
  font-size: 24px;

  color: var(--primary-color);
}

.h3-about {
  color: var(--quaternary-color);
}

.content {
  max-width: 1000px;
  margin: 60px auto;
}

.app-titles {
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--quaternary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}

.contact-link:hover {
  color: var(--quaternary-color);
  background: var(--primary-color);
}

.about-link {
  background: var(--quaternary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-link:hover {
  color: var(--quateranry-color);
  background-color: var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--tertiary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--quaternary-color);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--quateranry-color);
}

.primary-link:hover {
  color: var(--primary-color);
  background: var(--quaternary-color);
}

.logo {
  width: 50px;
}

@media (max-width: 576px) {
  .image-display {
    display: none;
  }
  h1 {
    font-size: 50px;
    padding: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .h3-about {
    color: var(--quaternary-color);
  }

  .container {
    text-align: center;
  }

  .app-titles {
    text-align: center;
  }

  .img-about {
    padding: 10px;
  }

  .content {
    text-align: center;
  }
}
