:root {
  --primary-color: #f6e7d4;
  --secondary-color: #f9f3ea;
  --tertiary-color: #52616b;
  --quaternary-color: #1e2022;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --defult-font: "Josefin Sans", sans-serif;
  --secondary-font: "Dosis", sans-serif;
}

body {
  margin: 60px auto;
}
.hero {
  background: var(--quaternary-color);
  padding-bottom: 60px;
}

h1 {
  color: var(--primary-color);
}
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: var(--defult-font);
}

p {
  font-family: var(--secondary-font);
  line-height: 30px;
  color: var(--quaternary-color);
  font-size: 20px;
}

a {
  font-family: var(--secondary-font);
}

.name {
  font-size: 96px;
  padding: 50px;
  color: var(--secondary-color);
  margin: 0;
  font-family: var(--defult-font);
  text-align: center;
}

.title {
  font-size: 96px;
  padding: 50px;
  color: var(--tertiary-color);
  margin: 0;
  font-family: var(--defult-font);
  text-align: center;
}

h2 {
  font-size: 48px;
  color: var(--tertiary-color);
  font-weight: bold;
}

h3 {
  font-size: 24px;

  color: var(--secondary-color);
}

h4 {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 30px;
}

.h3-about {
  color: var(--quaternary-color);
}

.content {
  max-width: 1000px;
  margin: 60px auto;
}

.home-content {
  padding-top: 30px;
}

.app-titles {
  text-align: left;
  padding: 10px 0px;
}

.contact-link-top {
  background: var(--quaternary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);

  max-width: 150px;
  margin: 50px;
  padding: 30px 20px;

  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link-top:hover {
  color: var(--quaternary-color);
  background: var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--tertiary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--quaternary-color);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--quateranry-color);
}

.primary-link:hover {
  color: var(--primary-color);
  background: var(--quaternary-color);
}

.logo {
  width: 50px;
}

footer {
  padding: 50px 60px 100px;
  margin: 10% 5%;
  background: rgb(246, 231, 212, 0.5);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.footer-title {
  font-size: 40px;
  color: var(--quaternary-color);
  text-align: left;
}

.icons {
  text-align: center;
}
.contact-link-bottom {
  font-size: 20px;

  background: var(--quaternary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);

  margin: 2%;
  padding: 20px 30px;

  max-width: 150px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link-bottom:hover {
  background-color: white;
  color: var(--quaternary-color);
}

@media (max-width: 576px) {
  .image-display {
    display: none;
  }
  h1 {
    font-size: 20px;
    padding: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .h3-about {
    color: var(--quaternary-color);
  }

  .container {
    text-align: center;
  }

  .app-titles {
    text-align: center;
  }

  .img-about {
    padding: 10px;
  }

  .home-content {
    text-align: center;
  }

  footer {
    text-align: center;
  }
  .footer-title {
    text-align: center;
  }

  .contact-link-bottom {
    display: block;
    margin: 0 auto;
    padding: 10%;
  }
}

@media (max-width: 768px) {
  .contact-link-bottom {
    margin-bottom: 50%;
  }
}
